* {
  box-sizing: border-box;
}

.index{
  margin:0 auto;
  max-width: 1280px;
  max-height: 800px;
}

#screen, .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 682px; 
  margin-top: 15px;
  border-right: 20px solid white; 
}
.column{
  background-color:#B3284D;
}
#screen{
  background-color:#39668F;
  text-align: center; font-weight:
  normal; font-size: 2.1em;
  font-style: italic; padding-top: 230px;
}
img{
  height:320px; 
  width:340px;
  margin-top: 150px;
  margin-left: 130px;
}

.row:after {

  content: "";
  display: table;
  clear: both;

}

p{
  margin-top: 280px;
  margin-bottom: 300px;
  margin-right: 50px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}