* {
	box-sizing: border-box;
}

.index{
	max-width: 1280px;
	max-height: 800px;
}
.column {
	float: left;
	width: 12%;
	padding: 1px;
	height: 760px;
	background-color:#fff;
   }

#screen{
	background-color:#336177;
	font-size: 1.8em;
	font-family:Cambria;
	padding-top: 55px;
	color: #fff;

}
.apijs{
	margin-left: 25%;
	margin-top: 1px;
	height: 760px;
	width: 74%;
}
img{
	height:290px; 
	width:330px;
	margin-top: 1%;
	margin-left: 20px;
}
.room_num{
	font-size: 70%;
	margin-left: 3%;
}
.desc{
	font-size:150%;
	margin-left: 3%;
}
.name{
	font-size:150%;
	margin-left: 3%;
}
.tch{
	font-size:150%;
	margin-left: 3%;
}
.dat{
	font-size:150%;
	margin-left: 3%;
}
.thr{
  border-left: 30px solid #B3284D;
  height: 78%;
  position: absolute;
  left: 29%;
  margin-left: -3px;
}

.empty_room{
	font-size: 700%;
	margin-left: 3%;

}
hr { 
  display: block;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  margin-left: 4%;
  margin-right: 63%;
  border-style: inset;
  border-width:1%;
} 