* {
	box-sizing: border-box;
}

.index{
	margin:0 auto;
	max-width: 1280px;
	max-height: 800px;
}
.column {
	float: left;
	width: 25%;
	padding: 10px;
	height: 700px;
	border-right: 20px solid white; 
	background-color:#B3284D;
}

#screen{
	background-color:#39668F;
	font-size: 1.8em;
	font-family:Cambria;
	padding-top: 100px;
	color: #fff;
	text-align: center;

}
.apijs{
	margin-left: 25%;
	margin-top: 30px;
	height: 700px;
	width: 75%;
}
img{
	height:220px; 
	width:260px;
	margin-top: 210px;
	margin-left: 10px;
}
.room_num{
	font-size: 900%;
}
.c_t_t{
	font-size: 190%;
}
.empty_room{
	font-size: 600%;
}